<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Success</title>
  </head>
  <body>
    <h1 class="text-center">Thank you!!!!</h1>
    <h2 class="text-center my-3">Your Order Will be Delivered in 45mins</h2>
  </body>
</html>
