<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/database.css" />
  </head>
  <body>
    <div class="container">
      <form method="post" action="/menu/search" class="form-inline menu">
        <input name="item" class="form-control" type="text" />
        <button
          class="btn btn-outline-success my-2 my-sm-0 menu1"
          type="submit"
          id="search"
        >
          Search
        </button>
      </form>

      <div class="trp">
        <% for(let c of menudata) { %>

        <div class="card m-3" style="width: 18rem">
          <img
            class="card-img-top"
            src="<%= c.imageaddr %>"
            alt="Card image cap"
            height="240"
            width="230"
          />
          <div class="card-body">
            <h5 class="card-title"><%= c.name%></h5>

            <button class="btn btn-primary">&#8377;<%= c.cost %></button>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
